* {
    margin: 0;
    padding: 0;
}

.date {
    padding: 20px 40px;
}

.date h1 {
    font-size: 40px;
    font-family: Poppins;
}

.time {
    display: flex;
    align-items: center;
    color: blue;
}

.time span {
    cursor: pointer;
}

@media (max-width: 426px) {
    .date {
        padding: 10px 10px;
        padding-bottom: 20px;
    }

    .small-screen {
        font-size: 23px;
    }
}