.back-to-top svg {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000;
    border-radius: 100%;
    padding: 8px;
    margin: 20px 40px;
    cursor: pointer;
    z-index: 10;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: all ease 0.3s;
}

.back-to-top svg:hover {
    background: white;
    fill: black;
}